{% extends 'base.html' %}
{% block title %}Reset Ok{% endblock %}

{% block content %}

<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card shadow-lg p-4 rounded-4 text-center" style="width: 100%; max-width: 500px; background-color: #f8f9fa;">
        <h3 class="mb-4 fw-bold">Solicitação de Nova Senha</h3>
        <p>Enviamos um e-mail com instruções para definir sua senha. Se não chegar em alguns minutos, verifique sua pasta de spam.</p>
        <a href="{% url 'login' %}" class="btn btn-primary w-50 fw-semibold rounded-pill mt-3">
            Voltar ao Login
        </a>
    </div>
</div>



{% endblock %}
