{% extends 'base.html' %}
{% block title %}Resetar Senha{% endblock %}

{% block content %}

<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card shadow-lg p-4 rounded-4" style="width: 100%; max-width: 400px; background-color: #f8f9fa;">
        <h3 class="text-center mb-4 fw-bold">Resetar Senha</h3>

        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label" for="id_email">Email:</label>
                <input type="email" name="email" class="form-control" id="id_email" placeholder="Digite seu email" required>
            </div>

            <button class="btn btn-primary w-100 fw-semibold rounded-pill mt-3" type="submit">
                Resetar
            </button>
        </form>
    </div>
</div>


{% endblock %}
